<!-- <div id="loading-bar-container"></div> -->
<section class="content-header">
    <h1 style="color: white;">
        Jadwal Kuliah
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">BAAK</a></li>
        <li class="active">Jadwal Perkuliahan</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{titleForm}} Jadwal</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <form ng-submit="simpan()" enctype="multipart/form-data">
                        <div class="form-group row kd_pemesanan" id="kd_pemesanan">
                            <label for="id" class="col-sm-3 col-form-label">Program Studi</label>
                            <div class="col-sm-9">
                                <select ng-show="titleForm=='Tambah'" class="form-control select2" id= "select2prodi"
                                    ng-options="item as item.nmps for item in datas.prodi" ng-model="prodi"
                                    ng-change="kurikulums = prodi.kurikulum; model.kdps = prodi.kdps" required>
                                </select>
                                <input ng-show="titleForm!='Tambah'" type="text" class="form-control" ng-model="prodi.nmps" disabled>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Kurikulum</label>
                            <div class="col-sm-9">
                                <select ng-show="titleForm=='Tambah'" class="form-control select2"
                                    ng-options="item as item.kurikulum for item in kurikulums" ng-model="kurikulum"
                                    ng-change="matakuliahs=kurikulum.matakuliah" required>
                                </select>
                                <input ng-show="titleForm!='Tambah'" type="text" class="form-control" ng-model="kurikulum.kurikulum" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Matakuliah</label>
                            <div class="col-sm-9">
                                <select ng-show="titleForm=='Tambah'" class="form-control select2"
                                    ng-options="item as item.nmmk for item in matakuliahs" ng-model="matakuliah"
                                    ng-change="dosens=matakuliah.dosen; model.sks=matakuliah.sks; model.thakademik=matakuliah.thakademik; model.gg=matakuliah.gg; model.kmk = matakuliah.kmk; model.nmmk=matakuliah.nmmk"
                                    required>
                                </select>
                                <input ng-show="titleForm!='Tambah'" type="text" class="form-control" ng-model="matakuliah.nmmk" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Dosen Penyaji</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-options="item as item.nmdsn for item in dosens"
                                    ng-model="dosen"
                                    ng-change="model.dsn_saji=dosen.nmdsn; model.idpengampu=dosen.idpengampu" required>
                                </select>
                                <!-- <input ng-show="titleForm!='Tambah'" type="text" class="form-control" ng-model="dosen.nmdsn" disabled> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">SKS</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="model.sks" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Kelas</label>
                            <div class="col-sm-3">
                                <select class="form-control"
                                    ng-options="item as item.kelas for item in datas.kelas" ng-model="kelas"
                                    ng-change="model.kelas=kelas.kelas" required>
                                </select>
                            </div>
                            <label for="tgl_ambil" class="col-sm-2 col-form-label">Ruangan</label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-options="item as item for item in helper.ruangan"
                                    ng-model="model.ruangan" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Hari</label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-options="item as item for item in helper.hari"
                                    ng-model="model.hari" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tgl_ambil" class="col-sm-3 col-form-label">Waktu</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" ng-model="model.wm" required>
                            </div>
                            <label for="tgl_ambil" class="col-sm-1 col-form-label">s.d</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" ng-model="model.ws" required>
                            </div>
                        </div>
                        <div class="box-footer justify-content-between">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box" style="padding-bottom:10px">
            <div class="box-header">
                <h3 class="box-title">Data Jadwal</h3>
            </div>
            <div class="box-body" style="height: 750px; overflow-y:auto">
                <div class="row" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="" data-target="#teknikinformatika" data-toggle="tab">Teknik Informatika</a></li>
                                    <li><a href="" data-target="#sisteminformasi" data-toggle="tab">Sistem Informasi</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="teknikinformatika">
                                        <div class="box-body table-responsive no-padding">
                                            <table datatable="ng" class="table table-bordered">
                                                <thead>
                                                    <tr style="color:black;">
                                                        <th style="width: 10px">No</th>
                                                        <th>Mata Kuliah</th>
                                                        <th>SKS</th>
                                                        <th>Kelas</th>
                                                        <th>Hari</th>
                                                        <th>Jam</th>
                                                        <th>Dosen</th>
                                                        <th>Ruangan</th>
                                                        <th>Jurusan</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in datas.jadwal | filter : 'Teknik Informatika'">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{item.nmmk}}</td>
                                                        <td>{{item.sks}}</td>
                                                        <td>{{item.kelas}}</td>
                                                        <td>{{item.hari}}</td>
                                                        <td>{{item.wm}} s/d {{item.ws}}</td>
                                                        <td>{{item.dsn_saji}}</td>
                                                        <td>{{item.ruangan}}</td>
                                                        <td>{{item.nmps}}</td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <bottom class="btn btn-warning" title="Edit Jadwal"
                                                                    ng-click="ubah(item)">
                                                                    <i class="fa fa-edit"></i>
                                                                </bottom>
                                                                <bottom class="btn btn-danger" title="Hapus Jadwal"
                                                                    ng-click="delete(item);">
                                                                    <i class="fa fa-trash"></i>
                                                                </bottom>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="sisteminformasi">
                                        <div class="box-body table-responsive no-padding">
                                            <table datatable="ng" class="table table-bordered">
                                                <thead>
                                                    <tr style="color:black;">
                                                        <th style="width: 10px">No</th>
                                                        <th>Mata Kuliah</th>
                                                        <th>SKS</th>
                                                        <th>Kelas</th>
                                                        <th>Hari</th>
                                                        <th>Dosen</th>
                                                        <th>Ruangan</th>
                                                        <th>Jurusan</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in datas.jadwal | filter : 'Sistem Informasi'">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{item.nmmk}}</td>
                                                        <td>{{item.sks}}</td>
                                                        <td>{{item.kelas}}</td>
                                                        <td>{{item.hari}}</td>
                                                        <td>{{item.dsn_saji}}</td>
                                                        <td>{{item.ruangan}}</td>
                                                        <td>{{item.nmps}}</td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <bottom class="btn btn-warning" title="Edit Jadwal"
                                                                    ng-click="ubah(item)">
                                                                    <i class="fa fa-edit"></i>
                                                                </bottom>
                                                                <bottom class="btn btn-danger" title="Hapus Jadwal"
                                                                    ng-click="showKegiatan(item);">
                                                                    <i class="fa fa-trash"></i>
                                                                </bottom>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<script>
    $('.select2').select2({
        placeholder: "Pilih item"
    });
</script>