<!-- <section class="content-header">
    <h1 style="color: white;">
        
    </h1>
</section> -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">INPUT NILAI MAHASISWA</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 500px;" ng-show="Tombol">
                    <select ui-select2 ng-model="SelectedMatakuliah" ng-change="GetMahasiswa()"
                        class="form-control select2">
                        <option value=""></option>
                        <option ng-repeat="item in DatasMatakuliah" value="{{item}}">{{item.nmmk}} - {{item.kelas}} -
                            {{item.nmps}}</option>
                    </select>
                </div>
                <div class="input-group input-group-sm" style="width: 500px;" ng-hide="Tombol">
                    <select ng-model="SelectedMatakuliah" ng-change="GetMahasiswa()" disabled
                        class="form-control select2">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-body" style="height:auto;" ng-show="Show">
            <div class="box-body table-responsive no-padding">
                <table datatable="ng" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>NPM</th>
                            <th>Nama Mahasiswa</th>
                            <th>Nilai</th>
                            <th>Huruf</th>
                            <th>NXSKS</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in SelectedMatakuliah.Mahasiswa">
                            <td>{{$index+1}}</td>
                            <td>{{item.npm}}</td>
                            <td>{{item.nmmhs}}</td>
                            <td><input type="number" class="form-control" ng-change="Hitung(item)"
                                    ng-model="item.nilai">
                            </td>
                            <td>{{item.nhuruf}}</td>
                            <td>{{item.nxsks}}</td>
                            <td>{{item.ket}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" ng-click='Proses()' ng-show="Tombol"
                    style="margin-right: 10px;">Simpan</button>
                <button type="button" class="btn btn-info pull-right" ng-click='Proses()' ng-hide="Tombol"
                    disabled>Simpan</button>
                <button type="button" class="btn btn-primary pull-right" ng-click='print(true)'>Print Nilai</button>
                <button type="button" class="btn btn-primary pull-right" ng-click='print(false)'>Print BA</button>
                <button type="button" class="btn btn-primary pull-right" ng-click='printForm()'>Print Form Absen</button>
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bobotNilai">Detail Bobot</button>
            </div>
        </div>
        <div id="print">
            <div class="screen">
                <table width="100%">
                    <td width ="20%"><img src="assets/img/Logostimik.png" alt="" width="60%"></td>
                    <td width ="60%" class="text-center">
                        <h2>BERITA ACARA NILAI KULIAH</h2>
                        <h4 style="margin-top: -10px;">STIMIK SEPULUH NOPEMBER JAYAPURA <br> PROGRAM STUDI TEKNIK INFORMATIKA <br>SEMESTER {{SelectedMatakuliah.gg}} TAHUN AKADEMIK {{SelectedMatakuliah.thakademik}}</h4>
                    </td>
                    <td width ="20%"><img src="assets/img/blank.png" alt="" width="15%"></td>
                </table>
                <!-- <div class="col-md-12 d-flex justify-content-between">
                    <div class="col-md-3"><img src="assets/img/Logo.png" alt="" width="30%"></div>
                    <div class="col-md-6 text-center">
                        
                        <h4></h4>
                    </div>
                    <div class="col-md-2 text-right"><img src="assets/img/blank.png" alt="" width="15%"></div>
                </div> -->
                <hr class="style2" style="margin-bottom:12px;"><br>
                <table>
                    <tr>
                        <td>Matakuliah</td>
                        <td>&nbsp;:&nbsp; </td>
                        <td>{{SelectedMatakuliah.kmk}} - {{SelectedMatakuliah.nmmk}}</td>
                    </tr>
                    <tr>
                        <td>Dosen</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>{{SelectedMatakuliah.nmdsn}}</td>
                    </tr>
                    <tr>
                        <td>Kelas</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>{{SelectedMatakuliah.kelas}}</td>
                    </tr>
                </table>
                <table class="table table-bordered" style="width:99%; margin-right: 2px; margin-left: 2px;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>NPM</th>
                            <th>Nama Mahasiswa</th>
                            <th>Nilai</th>
                            <th>Huruf</th>
                            <th>NXSKS</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in SelectedMatakuliah.Mahasiswa">
                            <td>{{$index+1}}</td>
                            <td>{{item.npm}}</td>
                            <td>{{item.nmmhs}}</td>
                            <td ng-if="nilai=='true'">{{item.nilai}}</td>
                            <td ng-if="nilai=='false'"></td>
                            <td>{{item.nhuruf}}</td>
                            <td>{{item.nxsks}}</td>
                            <td>{{item.ket}}</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">
                            <h5><strong>Bobot Penilaian</strong></h5>
                            <table border="1" width="70%">
                                <tr>
                                    <th>Hrf</th>
                                    <th>Bobot</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                </tr>
                                <tr ng-repeat="bobot in GradeNilai | orderBy: '-bobot'">
                                    <th>{{bobot.nilai}}</th>
                                    <th>{{bobot.bobot}}</th>
                                    <th>{{bobot.range_awal}}</th>
                                    <th>{{bobot.range_akhir}}</th>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="text-center">
                                <br />
                                <br />
                                <h4>Jayapura, {{Tanggal | date: 'd MMMM y'}}</h4>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <h4><b><strong><u>{{SelectedMatakuliah.nmdsn}}</u></strong></b></h4>
                                <h4 style="margin-top: -7px;">NIDN. {{SelectedMatakuliah.nidn}}</h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="print1">
            <div class="screen">
                <table width="100%">
                    <td width ="20%"><img src="assets/img/Logostimik.png" alt="" width="40%"></td>
                    <td width ="60%" class="text-center">
                        <h4>ABSEN MAHASISWA</h4>
                        <h5 style="margin-top: -10px;">UNIVERSITAS SEPULUH NOPEMBER PAPUA <br> PROGRAM STUDI {{SelectedMatakuliah.nmps}} <br>SEMESTER {{SelectedMatakuliah.gg}} TAHUN AKADEMIK {{SelectedMatakuliah.thakademik}}</h5>
                    </td>
                    <td width ="20%"><img src="assets/img/blank.png" alt="" width="15%"></td>
                </table>
                <!-- <div class="col-md-12 d-flex justify-content-between">
                    <div class="col-md-3"><img src="assets/img/Logo.png" alt="" width="30%"></div>
                    <div class="col-md-6 text-center">
                        
                        <h4></h4>
                    </div>
                    <div class="col-md-2 text-right"><img src="assets/img/blank.png" alt="" width="15%"></div>
                </div> -->
                <hr class="style2" style="margin-bottom: 5px;">
                <table>
                    <tr>
                        <td style="font-size: 13px;">Matakuliah</td>
                        <td style="font-size: 13px;">&nbsp;:&nbsp; </td>
                        <td style="font-size: 13px;">{{SelectedMatakuliah.kmk}} - {{SelectedMatakuliah.nmmk}}</td>
                        <td width="200px" style="font-size: 13px;"></td>
                        <td style="font-size: 13px;">Hari</td>
                        <td style="font-size: 13px;">: {{SelectedMatakuliah.hari}} | Kelas: {{SelectedMatakuliah.kelas}} | Ruang: {{SelectedMatakuliah.ruangan}}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px;">Dosen</td>
                        <td style="font-size: 13px;">&nbsp;:&nbsp;</td>
                        <td style="font-size: 13px;">{{SelectedMatakuliah.nmdsn}}</td>
                        <td width="200px" style="font-size: 13px;"></td>
                        <td style="font-size: 13px;">Waktu</td>
                        <td style="font-size: 13px;">:{{SelectedMatakuliah.wm}} s/d {{SelectedMatakuliah.ws}}</td>
                    </tr>
                    <!-- <tr>
                        <td style="font-size: 13px;">Kelas</td>
                        <td style="font-size: 13px;">&nbsp;:&nbsp;</td>
                        <td style="font-size: 13px;">{{SelectedMatakuliah.kelas}}</td>
                    </tr> -->
                </table><br>
                <h5 style="text-align: right; margin-bottom: 0;">Rencana Pertemuan : 16 kali , Realisasi Pertemuan ......kali</h5>
                <table class="table table-bordered" style="width:99%; margin-right: 2px; margin-left: 2px;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>NPM</th>
                            <th>Nama Mahasiswa</th>
                            <th>P - 1</th>
                            <th>P - 2</th>
                            <th>P - 3</th>
                            <th>P - 4</th>
                            <th>P - 5</th>
                            <th>P - 6</th>
                            <th>P - 7</th>
                            <th>P - 8</th>
                            <th>P - 9</th>
                            <th>P - 10</th>
                            <th>P - 11</th>
                            <th>P - 12</th>
                            <th>P - 13</th>
                            <th>P - 14</th>
                            <th>P - 15</th>
                            <th>P - 16</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in SelectedMatakuliah.Mahasiswa">
                            <td>{{$index+1}}</td>
                            <td>{{item.npm}}</td>
                            <td>{{item.nmmhs}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">
                            
                        </td>
                        <td>
                            <div class="text-center">
                                <br />
                                <br />
                                <h4>Jayapura, {{Tanggal | date: 'd MMMM y'}}</h4>
                                <h4>DOSEN PENGAMPU</h4>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <h4><b><strong><u>{{SelectedMatakuliah.nmdsn}}</u></strong></b></h4>
                                <h4 style="margin-top: -7px;">NIDN. {{SelectedMatakuliah.nidn}}</h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Button trigger modal -->
<div class="modal fade" id="dsnsaji" tabindex="-1" role="dialog" aria-labelledby="dsnsaji-label" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dsnsajiTitle">Pilih Dosen Pengampuh</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in dosenPengampu" style="margin-bottom: 5px;" ng-click="setDosen(item)"><a href="" style="color: #000 !important;">{{item.nidn}} | {{item.nmdsn}}</a></li>
                </ul>
                <!-- <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="color: black;">NIDN</th>
                                <th style="color: black;">Dosen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in dosenPengampu">
                                <td style="color: black;">{{item.nidn}}</td>
                                <td style="color: black;">{{item.nmdsn}}</td>
                            </tr>
                        </tbody>
    
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bobotNilai" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bobot Nilai</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th style="color: black;">Huruf</th>
                            <th style="color: black;">Bobot</th>
                            <th style="color: black;">Nilai Min</th>
                            <th style="color: black;">Nilai Max</th>
                        </tr>
                        <tr ng-repeat="bobot in GradeNilai | orderBy: '-bobot'">
                            <th style="color: black;">{{bobot.nilai}}</th>
                            <th style="color: black;">{{bobot.bobot}}</th>
                            <th style="color: black;">{{bobot.range_awal}}</th>
                            <th style="color: black;">{{bobot.range_akhir}}</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    @media screen {
        .screen {
            display: none;
        }

        .settt {
            display: block;
        }

        @page {
            size: landscape
        }
    }

    @media print {

        /* #print {font-family:georgia, times, serif;} */
        .screen {
            display: block;
        }

        .settt {
            display: none;
        }

        .tandatangan2 {
            text-align: center;
            margin-left: 545px;
        }

    }

    
</style>