<section class="content-header">
    <h1>
        Pengajuan KRS
    </h1>
    <ol class="breadcrumb">
        &nbsp;
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li> -->
    </ol>
</section>
<div id="loading-bar-container"></div>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div ng-show="showJadwal">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Pilih Matakuliah yang akan di kontrak dengan Bijak</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search"
                            ng-model="CariJadwal">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="height: 250px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-scroll">
                        <thead>
                            <tr>
                                <th width="5%">Semester</th>
                                <th width="10%">Kelas</th>
                                <th>Matakuliah</th>
                                <th width="5%">SKS</th>
                                <th>Ruangan</th>
                                <th>Waktu Kuliah</th>
                                <th>Dosen Pengampuh</th>
                            </tr>
                        </thead>
                        <tbody style="height: 200px;">
                            <tr ng-repeat="item in DatasJadwal | filter: { kelas: Kelas } | filter: CariJadwal |  orderBy : 'kelas'"
                                ng-click="Pilih(item)">
                                <td width="5%" class="{{item.ngBinding}}">{{item.smt}}</td>
                                <td width="10%" class="{{item.ngBinding}}">{{item.kelas}}</td>
                                <td class="{{item.ngBinding}}">{{item.nmmk}}</td>
                                <td width="5%" class="{{item.ngBinding}}">{{item.sks}}</td>
                                <td class="{{item.ngBinding}}">{{item.ruangan}}</td>
                                <td class="{{item.ngBinding}}">{{item.hari}},&nbsp;{{item.wm}}-{{item.ws}}</td>
                                <td class="{{item.ngBinding}}">{{item.dsn_saji}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="box-header with-border">
                    <button type="submit" class="btn btn-default" disabled><b>Total SKS: {{jmsks}}</b></button>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Show By Kelas"
                                ng-model="Kelas">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="pull-right btn btn-default" id="Send" ng-click="AjukanKRS()">Ajukan KRS
                              <i class="fa fa-arrow-circle-right"></i></button> -->
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->


        <div class="box" ng-show="showJadwal1">
            <div class="box-header with-border">
                <h3 class="box-title">Daftar Matakuliah yang Dipilih</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="height: 400px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-scroll">
                        <thead>
                            <tr>
                                <th>Semester</th>
                                <th>Kelas</th>
                                <th>Matakuliah</th>
                                <th>SKS</th>
                                <th>Ruangan</th>
                                <th>Waktu Kuliah</th>
                                <th>Dosen Pengampuh</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DataTampung  | groupBy:'smt'">
                                <td>{{item.smt}}</td>
                                <td>{{item.kelas}}</td>
                                <td>{{item.nmmk}}</td>
                                <td>{{item.sks}}</td>
                                <td>{{item.ruangan}}</td>
                                <td>{{item.hari}},&nbsp;{{item.wm}}-{{item.ws}}</td>
                                <td>{{item.dsn_saji}}</td>
                                <td><button type="button" class="btn btn-default" ng-click="HapusPilihan(item)"><i
                                            class="fa fa-remove"></i></button></td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default" disabled><b>Total SKS: {{jmsks}}</b></button>
                <button type="button" class="pull-right btn btn-default" id="Send" ng-click="AjukanKRS()">Ajukan KRS
                    <i class="fa fa-arrow-circle-right"></i></button>
            </div>
            <!-- /.box-footer-->
        </div>
    </div>





    <!-- Menampilkan Data TemKrs -->
    <div ng-show="TemKrsmJadwal">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Pilih Matakuliah yang akan di kontrak dengan Bijak</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search"
                            ng-model="CariJadwal">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="height: 250px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-scroll">
                        <thead>
                            <tr>
                                <th style="width: 10%">Semester</th>
                                <th style="width: 10%">Kelas</th>
                                <th>Matakuliah</th>
                                <th style="width: 10%">SKS</th>
                                <th style="width: 10%">Ruangan</th>
                                <th>Waktu Kuliah</th>
                                <th>Dosen Pengampuh</th>
                            </tr>
                        </thead>
                        <tbody style="height: 200px;">
                            <tr ng-repeat="item in DatasJadwal | filter: { kelas: Kelas } | filter: CariJadwal |  orderBy : 'kelas'" ng-click="PilihItem(item)">
                                <td style="width: 10%" class="{{item.ngBinding}}">{{item.smt}}</td>
                                <td style="width: 10%" class="{{item.ngBinding}}">{{item.kelas}}</td>
                                <td class="{{item.ngBinding}}">{{item.nmmk}}</td>
                                <td style="width: 10%" class="{{item.ngBinding}}">{{item.sks}}</td>
                                <td style="width: 10%" class="{{item.ngBinding}}">{{item.ruangan}}</td>
                                <td class="{{item.ngBinding}}">{{item.hari}},&nbsp;{{item.wm}}-{{item.ws}}</td>
                                <td class="{{item.ngBinding}}">{{item.dsn_saji}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default" disabled><b>Total SKS: {{jmsks}}</b></button>
                <!-- <button type="button" class="pull-right btn btn-default" id="Send" ng-click="AjukanKRS()">Ajukan KRS
                                      <i class="fa fa-arrow-circle-right"></i></button> -->
            </div>
            <!-- /.box-footer-->
        </div>
        <div class="box">

            <div class="box-header with-border">
                <h3 class="box-title">Daftar Matakuliah Yang Telah diajukan</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="height: 400px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-scroll">
                        <thead>
                            <tr>
                                <th width="10%">Semester</th>
                                <th width="10%">Kelas</th>
                                <th>Matakuliah</th>
                                <th width="10%">SKS</th>
                                <th>Dosen Ampu</th>
                                <th>Waktu Kuliah</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DatasTemKrsm.TemDetailKrsm">
                                <td width="10%">{{item.smt}}</td>
                                <td width="10%">{{item.kelas}}</td>
                                <td>{{item.nmmk}}</td>
                                <td width="10%">{{item.sks}}</td>
                                <td>{{item.dsnampu}}</td>
                                <td>{{item.hari}},&nbsp;{{item.wm}}-{{item.ws}}</td>
                                <td><button type="button" class="btn btn-default" ng-click="Hapus(item)"><i
                                            class="fa fa-remove"></i></button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default" disabled><b>Total SKS: {{jmsks}}</b></button>
                <!-- <button type="button" class="pull-right btn btn-default" id="Send" ng-click="AjukanKRS()">Ajukan KRS
                                      <i class="fa fa-arrow-circle-right"></i></button> -->
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div ng-show="showKrsm">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">KRS Anda</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="height: 600px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-scroll">
                        <thead>
                            <tr>
                                <th width="3%">No</th>
                                <th width="50%">Matakuliah</th>
                                <th width="10%">Kelas</th>
                                <th width="10%">Semester</th>
                                <th>SKS</th>
                                <th>Nilai</th>
                                <th>NxSKS</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody style="height: 500px;">
                            <tr ng-repeat="item in DatasKrsm.DetailKrsm">
                                <td width="3%">{{$index + 1}}</td>
                                <td width="50%">{{item.kmk}}&nbsp;&nbsp;&nbsp;{{item.nmmk}}</td>
                                <td width="10%">{{item.kelas}}</td>
                                <td width="10%">{{item.smt}}</td>
                                <td>{{item.sks}}</td>
                                <td>{{item.nhuruf}}</td>
                                <td>{{item.nxsks}}</td>
                                <td>{{item.ket}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"  width="73%"><b>Total</b></td>
                                <td>{{DatasKrsm.DetailKrsm|total:'sks'}}</td>
                                <td></td>
                                <td ng-if="DatasKrsm.DetailKrsm|total:'nxsks'!=NaN">{{DatasKrsm.DetailKrsm|total:'nxsks'}}</td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default" disabled><b>IP Semester Anda: {{((DatasKrsm.DetailKrsm|total:'nxsks') / (DatasKrsm.DetailKrsm|total:'sks')) | number:2}}</b></button>
                <!-- <button type="button" class="pull-right btn btn-default" id="Send" ng-click="AjukanKRS()">Ajukan KRS
                                      <i class="fa fa-arrow-circle-right"></i></button> -->
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
</section>