<div id="loading-bar-container"></div>
<div class="box-header with-border">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">LIST PENGUMUMAN</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#addpengumuman">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body table-responsive no-padding">
                        <table datatable="ng" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tema Pengumuman</th>
                                    <th>Tanggal Mulai Publish</th>
                                    <th>Tanggal Selesai Publish</th>
                                    <th>Keterangan</th>
                                    <th>Berkas</th>
                                </tr>
                            </thead>
                            <tbody style="height: 700px;">
                                <tr ng-repeat="item in dataPengumuman | orderBy:'id'">
                                    <td>{{item.pengumuman}}</td>
                                    <td>{{item.startpublish}}</td>
                                    <td>{{item.lastpublish}}</td>
                                    <td>{{item.keterangan}}</td>
                                    <td>
                                        <a href="" ng-click="selected(item)" data-toggle="modal" data-target="#TampilGambar"><img ng-src="{{item.file}}" width="70px" height="70px" class="img-responsive "/></a>
                                        <!-- <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#TampilGambar">
                                            <img ng-src="{{item.file}}" width="70px" height="70px" class="img-responsive "/>
                                        </button> -->
                                        <!-- <a href="" ng-click="open()"><img ng-src="{{item.file}}" width="70px" height="70px" class="img-responsive "/></a></td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <img data-ng-src="{{File}}" data-err-src="images/png/avatar.png"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-info fade" id="addpengumuman">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah Pengumuman</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" ng-submit="Simpan()">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="pengumuman" class="col-sm-3 control-label">Pengumuman<sup style="color: red;">*</sup></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="pengumuman" ng-model="input.pengumuman" placeholder="Tema Pengumuman" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startpublish" class="col-sm-3 control-label">Publish Date<sup style="color: red;">*</sup></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="input.startpublish" id="startpublish" datepicker="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastpublish" class="col-sm-3 control-label">End Date<sup style="color: red;">*</sup></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="input.lastpublish" id="lastpublish" datepicker="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keterangan" class="col-sm-3 control-label">Keterangan</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="keterangan" cols="30" ng-model="input.keterangan" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="berkas" class="col-sm-3 control-label">File Pengumuman<sup style="color: red;">*</sup></label>
                                <div class="col-sm-9">
                                    <input type = "file" class="form-control" file-model = "myFile" accept="image/png, image/jpeg" required>
                                    <p class="help-block" style="color: white;">Berkas png, jpg max size 2MB</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-outline" value="Save"/>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal modal-info fade" id="TampilGambar">
        <div class="modal-dialog">
            <img data-ng-src="{{File}}" width="100%" data-err-src="images/png/avatar.png"/>
        </div>
    </div>
</div>