<header class="main-header">
  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>SIMAK STIMIK1011</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <img id="userImg" src="assets/dist/img/User_Circle.png" class="user-image photoProfile" alt="User Image">
            <span class="hidden-xs">{{NamaUser}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
             <choose-file>
                <img id="userImg" src="assets/dist/img/User_Circle.png" width="100" height="100" class="img-circle photoProfile" alt="User Image">
              <input id="fileInput" type="file" class="ng-hide" ng-model="dataGambar">
             </choose-file>
              <p>
                {{NamaUser}}
                <small></small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a ui-sref="Profile" ui-sref-opts="{reload: true}" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="javascript:void(0)" class="btn btn-default btn-flat" ng-click="Logout()">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!-- <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>